html, body {
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  background: #002A51;
  background-image: radial-gradient(circle at top center, #004F88, #002A51);
  background-repeat: no-repeat;
}

.slide {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-slide {
  cursor: pointer;
}

.intro-image {
  max-height: 80vh;
  max-width: 100%;
  display: block;
}

.pref {
  padding: 0 2.5vw;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.pref.active {
  background-color: #3279ac;
}
.pref.change {
  opacity: 0;
}
.pref h2 {
  height: 10vh;
  margin: 0;
  color: #fff;
  font: 16px/1.0 'Avenir Next', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

}
.pref img {
  display: block;
  max-height: 90vh;
  max-width: 100%;
}
